streamlit
PyPDF2
python-dotenv
requests
streamlit-lottie

langchain==0.1.17
langchain-community==0.0.36
langchain-text-splitters==0.0.1
langchain-google-genai==0.0.9
langchain-huggingface==0.0.3

sentence-transformers
faiss-cpu

firebase-admin
supabase

transformers
torch --index-url https://download.pytorch.org/whl/cpu
