streamlit==1.33.0
requests
google-auth
google-auth-oauthlib

PyPDF2
Pillow
python-dotenv

firebase-admin

langchain==0.1.17
langchain-community==0.0.36
langchain-text-splitters==0.0.1
langchain-google-genai==0.0.9
langchain-huggingface==0.0.3

sentence-transformers==2.6.1
faiss-cpu==1.7.4
torch==2.1.2
transformers==4.38.2
